.dashboard-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.app-name {
    margin-left: 8px;
    margin-top: 15px;
}

.dashboard-container ul li {
    list-style: none;
}

div ul {
    display: flex;
    align-items: center;
}
.rightmenu{
    margin-left: auto;
}